<%- include('head') %>

    <%- include('header') %>

        <h1>Consultation devis</h1>

        <!-- message d'information -->
        <% if(locals.flash && locals.flash.error) { %>
            <div>
                <%= flash.error %>
            </div>
            <% } %>

                <% if(locals.flash && locals.flash.success) { %>
                    <div>
                        <%= flash.success %>
                    </div>
                    <% } %>

                        <div>
                            <h3>Projets</h3>

                            <% for (projet of projets) { %>

                                <div>
                                    <%= projet.projet_reference %> +
                                        <%= projet.gamme_id %> +
                                            <%= projet.projet_date %> +
                                                <%= projet.projet_client %>
                                </div>

                                <% } %>

                        </div>


                        <%- include('footer') %>